/* ------------------- */
/*V A R I A B L E*/
/* ------------------- */

:root {
    --ff-heading: "Russo One", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #D20062;
    --color-second: #402B3A;
    --color-third: #D63484;
    --color-fourth: #C4E4FF;
    --color-five: #D895DA;
    --color-six: #D6589F;
}

/* ------------------- */
/*P R E L O A D*/
/* ------------------- */
body:after {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content: url(../images/btn-hover.svg) url(../images/btn-active.svg);
    
}

/* ------------------- */
/*G E N E R A L*/
/* ------------------- */


body {
    /* background-color: var(--color-fourth); */
    background-color: #212121;
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        background-color: var(--color-second);
        height: 800px;
        overflow: hidden;
        position: relative;
        width: 400px;
        header {
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;
                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-five);
                    stroke-width: 4;
                    stroke-linecap: round;
                }
                .top {
                    stroke-dasharray: 40 121;
                }
                .bottom {
                    stroke-dasharray: 40 121;
                }
            }
            svg.btn-burger.active {
                transform: rotate(45deg);
                .top {
                    stroke-dashoffset: -68px;
                }
                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }a.btn-back:is(:link, :visited) {
            transition: transform 0.2s ease-in;
        }
    
        a.btn-back:is(:hover) {
            transform: translateX(-4px);
        }
        nav.nav {
            -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 5rem;
            opacity: 0;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(20%);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;
        }
        nav.nav.active {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a:is(:link, :visited) {
                background-color: var(--color-fourth);
                border: 3px solid var(--color-five);
                border-radius: 50px;

                color: var(--color-second);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                text-decoration: none;
                width: 250px;
            }

            a:is(:hover) {
                background-color: var(--color-six);
                border-radius: 50px;
                transform: scale(1.02) translateY(-5px);
            }

            a:is(:active) {
                background-color: var(--color-five);
                border: 3px solid var(--color-fourth);
                border-radius: 50px;
            }
        }
        footer {
            display: flex;
            margin-top: .2rem;
            margin-right: 2rem;
            justify-content: center;
            align-items: center;
            font-family: var(--ff-heading);
            a:is(:link, :visited){
                background: url(../images/btn.svg) no-repeat;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                margin-left: 2.2rem;
                transition: all 0.4s ease-in;
                width: 156px;
            }
            a:is(:hover) {
                background: url(../images/btn-hover.svg) no-repeat center;
                transform: scale(1.1) translateY(-5);
            }
            a:is(:active) {
                background: url(../images/btn-active.svg) no-repeat center;
            }
        }
    }

    .tt{
        font-size: 40px;
        text-align: center;
        font-family: var(--ff-body);
        margin-right: 2px;
        color: var(--color-six);
    }
}

body.catalogue-main {
    background-color: var(--color-fourth);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        background-color: var(--color-second);
        height: 800px;
        overflow: hidden;
        width: 400px;
    }
}

/* ------------------- */
/*01- W E L C O M E*/
/* ------------------- */

main.welcome {
    header{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-block: 1.8rem;
    }
    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            img {
                width: 306px;
                height: 306px;
            }
        }
        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;
            button {
                transition: transform 0.2s ease-in;
                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }
            button:is(:hover) {
                background-color: transparent;
            }
            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center;
                }
            }
            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }
            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center;
                }
            }
            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
            
        }
        div.owl-dots {
            position: relative;
            top: -46px;
            button {
                transition: transform 0.4s ease-in;
            }
            button:is(:hover) {
                transform: scale(1.1);
            }
            button.owl-dot {
                span {
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }
            button.owl-dot.active, button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
    
}

/* ------------------- */
/*C A T A L O G U E*/
/* ------------------- */

main.catalogue {
    background-color: var(--color-second);
    scrollbar-width: none;
    overflow: scroll;
    img.logo-top {
        width: 200px;
        height: auto;
    }

    

    section.scroll {
        scrollbar-width: none;
        overflow-y: scroll;
        height: 640px;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            input {
                border: none;
                background: url(../images/) no-repeat 250px center,
                            url(../images/filter.svg) no-repeat center;
                                                     
                color: var(--color-second);
                font-weight: 400px;
                font-size: 20px;
                height: 60px;
                width: 298px;
                outline: none;
                text-indent: 16px;

                &::placeholder {
                    opacity: 0.7;
                    color: var(--color-five);
                }
            }
        }

        article {
            
            h2 {
                display: flex;
                justify-content: center;
                font-family: var(--ff-body);
                font-size: 20px;
                align-items: center;
                color: var(--color-first);
                margin-bottom: 1rem;
                gap: 0.6rem;

            }
            .titleIcon {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: left;
                margin-left: 10px;
                margin-top: 10px;
                gap: 0.6rem;
                img {
                    width: 40px;
                    filter: hue-rotate(350deg) saturate(200%) brightness(120%) contrast(120%);
                }  
            }
            figure {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                figcaption {
                    color: var(--color-third);
                    font-weight: 400;
                    margin-block: 0.6rem;
                    font-size: 20px;
                    text-align: center;
                }
                a:is(:link, :visited) {
                    border-radius: 20px;
                    background-color: var(--color-first);
                    color: var(--color-fourth);
                    height: 30px;
                    display: block;
                    text-align: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 300;
                    justify-content: center;
                    transition: all 0.3s ease-in;
                    gap: 0.6rem;
                    text-decoration: none;
                    width: 60px;
                }
    
                a:is(:hover) {
                    border: 3px solid var(--color-five);
                    border-radius: 43%;
                    background-color: var(--color-fourth);
                    color: var(--color-third);
                    transform: scale(1.02) translateY(-5px);
                }
    
                a:is(:active) {
                    background: url(../images/btn-view-active.svg) no-repeat center;
                }
            }

            
        }

        div.owl-carousel {
            height: 218px;

            div.owl-item {
                display: flex;
                position: relative;
                justify-content: space-around;
                z-index: 3;
                img.slide {
                    height: 120px;
                    width: 120px;
                    border: 3px solid var(--color-five);
                    border-radius: 21%;
                }
            }

            div.owl-nav {
                position: relative;
                top: -175px;
                display: flex;
                justify-content: space-between;

                button {
                    transition: transform 0.2s ease-in;

                    span {
                        display: flex;
                        height: 44px;
                        width: 44px;
                        text-indent: -9999px;
                    }
                }

                button:is(:hover) {
                    background-color: transparent;
                }

                button.owl-prev {
                    span {
                        background: url(../images/btn-prev.svg) no-repeat center;
                    }
                }

                button.owl-prev:hover {
                    transform: scale(1.1) translateX(-4px);
                }

                button.owl-next {
                    span {
                        background: url(../images/btn-next.svg) no-repeat center;
                    }
                }

                button.owl-next:hover {
                    transform: scale(1.1) translateX(4px);
                }
            }

        }
    }
}

/* ------------------- */
/* VIEW GAME */
/* ------------------- */

main.view-game {
    header {
        margin-bottom: 1rem;
        h1{
            font-family: var(--ff-body);
            font-size: 48px;
            font-weight: 500;
            color: var(--color-first);
        }
    }
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        article {
            display: flex;
            flex-direction: column;
            width: 296px;
            gap: 1rem;
            div.row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    font-family: var(--ff-body);
                    color: var(--color-third);
                    font-weight: 400;
                    font-size: 20px;
                }
                p {
                    font-family: var(--ff-body);
                    color: var(--color-fourth);
                    font-size: 16px;
                    line-height: 1.4rem;
                    text-align: justify;
                    &.price {
                        color: var(--color-third);
                        font-weight: 400;
                        font-size: 36px;                
                    }
                }
            }
        }
    }
}


/*----------------------------------------*/
/* 03- L O G I N */
/*----------------------------------------*/
main.login,
main.register {
    header {
        .btn-back {
            visibility: hidden;
            pointer-events: none;
            justify-content: center;
            align-items: center;
        }
    }
    .titleLogin{
        font-size: 48px;
        width: 100%;
        color: var(--color-first);
        text-align: center;
        font-weight: 500;
    }

    .titleRegister{
        font-size: 48px;
        width: 100%;
        color: var(--color-first);
        text-align: center;
        font-weight: 500;
        margin-left: 12px;
    }

    section {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            div.form-group {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                gap: .2rem;
                flex-direction: column;
                width: 300px;

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    color: var(--color-third);
                    font-family: var(--ff-heading);
                    font-weight: 600;
                    gap: 0.6rem;
                    font-size: 20px;

                    img {
                        background-color: var(--color-fourth);
                        border: 3px solid var(--color-five);
                        border-radius: 10px;
                        width: 30px;
                        height: 30px;
                        margin-bottom: 2px;
                    }
                }

                input {
                    border: none;
                    background: url(../images/btn.svg) no-repeat center ;
                    background-size: 100vw;
                    border: 3px solid var(--color-five);
                    border-radius: 50px;
                    outline: none;
                    font-size: 18px;
                    font-weight: 300;
                    color: var(--color-second);
                    text-indent: 1rem;
                    height: 65px;
                    width: 300px;

                    &::placeholder {
                        color: var(--color-second);
                        opacity: 0.7;
                    }
                    
                }

                img.ico-eye {
                    cursor: pointer;
                    position: absolute;
                    top: 47px;
                    right: 5px;
                    width: 40px;
                }

                button {
                    background: url(../images/btn.svg) no-repeat center;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    margin-top: .1rem;
                    transition: all 0.2s ease-in;
                    width: 300px;
                    cursor: pointer;
                    color: var(--color-second);
                    font-size: 18px;
                    font-weight: 600;
                }

                button:is(:hover) {
                    background: url(../images/btn-active.svg) no-repeat center;
                    border-radius: 50px;
                    transform: scale(1.02) translate(-5px);
                    color: var(--color-fourth);
                    font-size: 18px;
                    font-weight: 600;
                    height: 65px;
                    width: 300px;
                }

                a:is(:link, :visited) {
                    color: var(--color-fourth);
                            font-size: 16px;
                            justify-content: center;
                    }

                    .mask {
                        mask-image: var(--color-second);
                        mask-repeat: no-repeat;
                        mask-position: center top;
                        object-fit: contain;
                        align-self: center;
                        height: 161px;
                        margin-bottom: 1rem;
                    }
                    .border{
                        cursor: pointer;
                        position: absolute;
                        left: 53px;
                    }
                    #upload{
                        cursor: pointer;
                    }
                    #photo{
                        display: none;
                    }
                }
                .forgot {
                    font-size: 18px;
                    font-weight: 300;
                    height: 65px;
                    width: 300px;
                    text-align: center;
                }
                .forgot:is(:hover) {
                    color: var(--color-fourth);
                    font-size: 18px;
                    font-weight: 400;
                    height: 65px;
                    width: 300px;
                }
            }
        }
    }

/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - D A S H B O A R D*/
/* - - - - - - - - - - - - - - - - - - - - */
main.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    nav.nav{
    menu {
        div {
        img.mask {
            mask-image: url(../images/shape-photo.svg);
            mask-repeat: no-repeat;
            mask-position: center top;
            object-fit: cover;
            align-self: center;
            height: 208px;
            width: 208px;
        }
        .border {
            cursor: pointer;
            position: absolute;
        }
        #photo {
            display: none;
        }
        }
    }
    }
    section {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        article.module {
            background-color: var(--color-fourth);
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            gap: 0.6rem;
            height: 120px;
            width: 300px;
            aside {
                padding-left: 0.8rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img.icon {
                    width: 70px;
                }
                span {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 16px;
                    color: var(--color-six)
                }
            }
            div.module{
                    color: var(--color-second);
                    font-weight: 500;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    transform: translateY(30px);
                    span{
                        font-weight: 600;
                        color: var(--color-six)
                    }
                    
            }
            a.view{
               background-color: var(--color-second);
               color: var(--color-fourth);
               width: 89px;
               font-size: 18px;
               justify-content: center;
               align-items: center;
               text-align: center;
               border-radius: 20px;
               font-weight: 300;
               text-decoration: none; 
            }
            a:is(:link, :visited) {
                position: absolute;
                bottom: 10px;
                right: 20px;
            }
            a:is(:hover) {
                background-color: var(--color-five);
                color: var(--color-second);
                font-weight: 500;
                transform: scale(1.02) translateY(-4px);
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - N A V D A S H B O A R D*/
/* - - - - - - - - - - - - - - - - - - - - */
main.dashboard,
main.my-profile,
main.users  {
    nav.nav {
        align-items: center;
        gap: 0.5rem;
        figure.avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            .border {
                position: absolute;
                left: 14px;
                top: 9px;
            }
            .mask {
                mask-image: url(../images/shape-photo.svg);
                mask-repeat: no-repeat;
                mask-position: center;
                object-fit: cover;
                align-self: center;
                position: relative;
                height: 300px;
                width: 300px;
            }

        }
        h2 {
            color: var(--color-fourth);
            font-family: var(--ff-heading);
            font-size: 24px;
        }
        h4 {
            background: url(../images/bg-role.svg) no-repeat center;
            font-size: 18px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-fourth);
        }
        section.scroll {
            scrollbar-width: none;
            overflow-y: scroll;
            height: 640px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - M Y P R O F I L E*/
/* - - - - - - - - - - - - - - - - - - - - */
main.my-profile {
    header {
        .btn-back {
            visibility: visible;
            pointer-events: all;
        }
        h1 {
            color: var(--color-fourth);
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        figure.avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .border {
                position: absolute;
                top: -35px;
            }
            .mask {
                mask-image: url(../images/shape-photo.svg);
                mask-repeat: no-repeat;
                mask-position: center top;
                object-fit: cover;
                align-self: center;
                position: relative;
                height: 300px;
                width: 300px;
            }

        }
        h2 {
            color: var(--color-first);
            font-weight: bold;
            font-family: var(--ff-heading);
            font-size: 24px;
        }
        span {
            color: var(--color-fourth);            
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;
            padding-left: 0.6rem;
            font-size: 16px;
            width: 190px;
            }
        span.data-description {
            background: url(../images/bg-description.svg) no-repeat center;
            height: 100;
            width: 300;

        }
        span.role {
            color: var(--color-first);            
            height: 60px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;
            padding-left: 0.4rem;
            font-size: 16px;
            font-weight: 400;
            width: 190px;
        }
        span.email {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-first);
            font-weight: bold;
            font-size: 18px;
            height: 20px;
            
        }
        span.role {
            background: url(../images/bg-administrador.svg) no-repeat center;
            color: var(--color-first);
        }
        div.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.6rem;
            span {
                background: url(../images/bg-data-odd.svg) no-repeat center;
            }
            span:nth-child(-n+2),
            span:nth-child(n+5) {
                background: url(../images/bg-data-odd.svg) no-repeat center;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 01 - U S E R S*/
/* - - - - - - - - - - - - - - - - - - - - */
main.users {
    header {
        .btn-back {
            visibility: visible;
            pointer-events: all;
        }
        h1 {
            color: var(--color-fourth);
        }
    }
    section {
        scrollbar-width: none;
        overflow-y: scroll;
        height: 600px;
        div.area {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
        a.add:is(:link, :visited) {
            background: url(../images/btn-add.svg) no-repeat center;
            color: var(--color-fourth);
            height: 60px;
            display: flex;
            margin-bottom: 1rem;
            align-items: center;
            font-size: 16px;
            font-weight: 300;
            justify-content: center;
            gap: 1rem;
            text-decoration: none;
            transition: all 0.4s ease-in;
            width: 150px;
            img {
                width: 70px;
            }
        }
        a.add:is(:hover) {
            background: url(../images/btn-add-hover.svg) no-repeat center;
            transform: scale(1.02) translateY(-4px);
        }
        a.add:is(:active) {
            background: url(../images/btn-add-active.svg) no-repeat center;
        }
        article.record {
            background: url(../images/bg-article-users.svg) no-repeat center;
            display: flex;
            align-items: center;
            position: relative;
            gap: 0.6rem;
            height: 100px;
            width: 340px;
            figure.avatar {
                position: relative;
                padding-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .border {
                    position: absolute;
                }
                .mask {
                    mask-image: url(../images/shape-small.svg);
                    mask-repeat: no-repeat;
                    mask-position: center top;
                    object-fit: cover;
                    align-self: center;
                    position: relative;
                    height: 80px;
                    width: 80px;
                }
    
            }
            aside {
                h3 {
                    color: var(--color-third);
                    font-size: 18px;
                    font-weight: 700;
                    position: absolute;
                    left: 100px;
                    top: 20px;
                }
                h4 {
                    color: var(--color-third);
                    font-size: 14px;
                    font-weight: 500;
                    position: absolute;
                    left: 100px;
                    top: 50px;

                }
            }
            figure.actions {
                background: url(../images/bg-actions.svg) no-repeat center;
                height: 40px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-around;
                bottom: 8px;
                right: 8px;
                width: 120px;
                a:is(:link, :visited) {
                    transition: all 0.2s ease-in;
                    opacity: 0.7;
                    padding: 4px;
                    text-decoration: none;
                    transform: scale(0.9);
                }
                a:is(:hover) {
                    opacity: 1;
                    transform: scale(1.05);
                }
            }
        }
        article.record:nth-child(even) {
            background: url(../images/bg-article-users.svg) no-repeat center;
        }
    }
    div.paginate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 380px;
        margin-top: 0.8rem;
        margin-inline: auto;
        span {
            color: var(--color-second);
            font-size: 16px;
            font-weight: 400;
        }
        a:is(:link, :visited) {
            transition: all 0.2s ease-in;
            text-decoration: none;
        }
        a.btn-prev:is(:hover) {
            transform: scale(1.1) translateX(-4px);
        }
        a.btn-next:is(:hover) {
            transform: scale(1.1) translateX(4px);
        }
    }
}