/*----------------------------------------*/
/* V A R I A B L E S */
/*----------------------------------------*/
:root{
    --ff-heading: "Russo one", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #D20062;
    --color-second: #402B3A;
    --color-third: #D63484;
    --color-fourth: #C4E4FF;
    --color-fiveth: #D895DA;
    --color-sixth: #D6589F;
}

/*----------------------------------------*/
/* G E N E R A L */
/*----------------------------------------*/
body {
    background-color: var(--color-fourth);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    main {
        background-color: var(--color-second);
        height: 800px;
        overflow: hidden;
        position: relative;
        width: 400px;
        header {
            position: relative;
            z-index: 3;
            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;
                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-sixth);
                    stroke-width: 4;
                    stroke-linecap: round;
                }
                .top {
                    stroke-dasharray: 40 121;
                }
                .bottom {
                    stroke-dasharray: 40 121;
                }
            }
            svg.btn-burger.active {
                transform: rotate(45deg);
                .top {
                    stroke-dashoffset: -68px;
                }
                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }
        nav.nav {
            -webkit-backdrop-filter: blur(14px);
                    backdrop-filter: blur(14px);
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 8rem;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(0);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;
        }
        nav.nav.active {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a:is(:link, :visited) {
                background: url(../images/btn.svg) no-repeat center;
                color: var(--color-fourth);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 300px;
            }
            a:is(:hover) {
                background: url(../images/btn-hover.svg) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }
            a:is(:active) {
                background: url(../images/bnt-active.svg) no-repeat center;
            }
        }
    }
}

/*----------------------------------------*/
/* 01- W E L C O M E */
/*----------------------------------------*/
main.welcome {
    header{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-block: 1.8rem;
    }
    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            img {
                width: 306px;
                height: 306px;
            }
        }
        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;
            button {
                transition: transform 0.2s ease-in;
                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }
            button:is(:hover) {
                background-color: transparent;
            }
            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center;
                }
            }
            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }
            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center;
                }
            }
            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
            
        }
        div.owl-dots {
            position: relative;
            top: -46px;
            button {
                transition: transform 0.4s ease-in;
            }
            button:is(:hover) {
                transform: scale(1.1);
            }
            button.owl-dot {
                span {
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }
            button.owl-dot.active, button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
    footer {
        display: flex;
        margin-top: .2rem;
        margin-right: 2rem;
        justify-content: center;
        align-items: center;
        font-family: var(--ff-heading);
        a:is(:link, :visited){
            background: url(../images/btn.svg) no-repeat;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;
            margin-left: 2.2rem;
            transition: all 0.4s ease-in;
            width: 156px;
        }
        a:is(:hover) {
            background: url(../images/btn-hover.svg) no-repeat center;
            transform: scale(1.1) translateY(-5);
        }
        a:is(:active) {
            background: url(../images/btn-active.svg) no-repeat center;
        }
    }
}


/*----------------------------------------*/
/* 02 - C A T A L O G U E */
/*----------------------------------------*/
main.catalogue {
    overflow: auto;
    scrollbar-width: none;
    header {
        margin-top: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.btn-back:is(:link, :visited) {
            transition: transform 0.2s ease-in;
        }

        a.btn-back:is(:hover) {
            transform: translateX(-4px);
        }
    }
    div.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            img {
                height: 120px;
                width: 120px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
        }

    }
}